
@{
    ViewData["Title"] = "Deleted";
}
@model List<MessageGetDto>
<div class="row">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="card col-md-6 m-2" style="width: 20rem; height: 22rem">
                <div class="card-body">
                    <h4 class="card-title" style=" text-align:center"> @item.UserName</h4>
                    <br>
                    <h5 style=" text-align:center">Mövzu:</h5>

                    <h5 class="card-text"> @item.Subject</h5>
                    <br>
                    <h5 style=" text-align:center">Mesaj:</h5>

                    <h5 class="card-text">@item.Letter</h5>
                    <br>
                    <h5 style=" text-align:center">Email:</h5>

                    <h5 class="card-text">@item.Email</h5>
                    <br>

                    <a asp-action="Restore" asp-controller="Message" asp-route-id="@item.Id" class="btn btn-danger">Restore Message</a>
                </div>
            </div>
        }
    }
</div>

