@inject Business.Services.Intefaces.ISettingService Settingg
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Medical Hospital</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

    <!-- Libraries Stylesheet -->
    <link href="~/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid py-2 border-bottom d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                    @if ( await Settingg.Get() is not null)
                    {
                        <div class="d-inline-flex align-items-center">
                            <a class="text-decoration-none text-body pe-3" href=""><i class="bi bi-telephone me-2"></i>  @Settingg.Get().Result.Phone </a>
                            <span class="text-body">|</span>
                            <a class="text-decoration-none text-body px-3" href=""><i class="bi bi-envelope me-2"></i> @Settingg.Get().Result.Email</a>
                        </div>
                    }
                </div>
                <div class="col-md-6 text-center text-lg-end">
                    <div class="d-inline-flex align-items-center">
                        @if (await Settingg.Get() is not null)
                        {
                            @foreach (var item in Settingg.Get().Result.Icons)
                            {
                                <a class="text-body px-2" href=@item.IconUrl>
                                    @Html.Raw(item.IconTag)
                                </a>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                 @if (await Settingg.Get() is not null)
                {
                    <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                        <h1 class="m-0 text-uppercase text-primary">@Html.Raw(Settingg.Get().Result.LogoIcon) @Settingg.Get().Result.Logo</h1>
                </a>}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Əsas səhifə</a>
                        <a asp-controller="About" asp-action="Index" class="nav-item nav-link">Haqqında</a>
                        <a asp-controller="Service" asp-action="Index" class="nav-item nav-link">Servislər</a>
                        <a asp-controller="Reservation" asp-action="Index" class="nav-item nav-link">Rezervasiya</a>
                        <a asp-action="Index" asp-controller="Contact" class="nav-item nav-link">Əlaqə</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Digər</a>
                            <div class="dropdown-menu m-0">
                                <a asp-controller="Team" asp-action="Index" class="dropdown-item">Komandamız</a>
                                <a asp-action="Index" asp-controller="Testimonial" class="dropdown-item">Rəylər</a>
                                <a asp-action="Index" asp-controller="Search" class="dropdown-item">Axtarış</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Hesab</a>
                            <div class="dropdown-menu m-0">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <a asp-action="Login" asp-controller="Account" class="dropdown-item">Login</a>
                                    <a asp-controller="Account" asp-action="Register" class="dropdown-item">Registrasiya</a>
                                }
                                else
                                {
                                    <a asp-action="Logout" asp-controller="Account" class="dropdown-item">Çıxmaq</a>
                                }
                            </div>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Index" asp-controller="Reshistory" class="nav-item nav-link">Rezervasiya keçmişi</a>

                        }

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    @RenderBody()
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light  py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 col-md-6">
                      @if (await Settingg.Get() is not null)
                    {
                        <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Əlaqə</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>@Settingg.Get().Result.Address</p>
                        <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>@Settingg.Get().Result.Email</p>
                        <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>@Settingg.Get().Result.Phone</p>
                    }
                        </div>
                    <div class="col-lg-6 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Keçidlər</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" asp-action="Index" asp-controller="Home"><i class="fa fa-angle-right me-2"></i>Əsas səhifə</a>
                        <a class="text-light mb-2" asp-action="Index" asp-controller="About"><i class="fa fa-angle-right me-2"></i>Haqqımızda</a>
                        <a class="text-light mb-2" asp-action="Index" asp-controller="Contact"><i class="fa fa-angle-right me-2"></i>Servislərimiz</a>
                        <a class="text-light mb-2" asp-action="Index" asp-controller="Team"><i class="fa fa-angle-right me-2"></i>Komandamız</a>
                        @*                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                        *@                        <a class="text-light" asp-action="Index" asp-controller="Contact"><i class="fa fa-angle-right me-2"></i>Rəy bildirmək</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!--Start of Tawk.to Script-->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/63fa7aed31ebfa0fe7ef52eb/1gq570d06';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--End of Tawk.to Script-->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/assets/lib/easing/easing.min.js"></script>
    <script src="~/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="~/assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/assets/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/assets/js/main.js"></script>
</body>

</html>